<footer class="p-3 mt-5 bg-red-600">
  <div class="flex justify-content-between">

    <!--Policy-->
    <div class="flex text-xs gap-2 align-items-center">
      <a href="#" class="text-100">Our contacts</a>
      <a href="#" class="text-100">Privacy Policy</a>
      <a href="#" class="text-100">Return policy</a>
      <a href="#" class="text-100">Terms and conditions</a>
    </div>

    <!--Social block-->
    <div class="flex gap-3 align-items-center">
      <i class="pi pi-facebook social-icon" (click)="openUrl(environment.urlFacebook)"></i>
      <i class="pi pi-instagram social-icon" (click)="openUrl(environment.urlInstagram)"></i>
      <i class="pi pi-twitter social-icon" (click)="openUrl(environment.urlTwitter)"></i>
    </div>
  </div>
</footer>

