<div class="flex w-full justify-content-center">
  <div class="flex flex-column w-12 md:w-9">
    <p class="text-4xl">Terms and conditions</p>
    <p class="text-xl font-semibold text-600">INSIGHT</p>
    <p class="text-600">
      This website is operated by EMarket. Throughout the site, we use the terms “we”, “us” and “our” in reference to EMarket. This website,
      including all information, tools and services to which it provides access, is offered by EMarket to you and you, conditioned upon your acceptance
      of all terms, conditions, policies and notices stated herein.
      <br><br>
      By visiting our site and/or purchasing something from our company, you are taking part in our "Service" and agreeing to be bound by the following terms
      and conditions ("Terms and Conditions", "Terms of Service"). ”), including by the terms, conditions and policies mentioned herein and/or accessible by
      hyperlink. These Terms of Use apply to all users of the Site, including, without limitation, individuals who are visitors, vendors, customers, merchants
      and/or content providers.<br>
      Please read these Terms of Use carefully before accessing and using our website. By accessing or using any part of the Site, you agree to be bound by
      these Terms of Use. If you do not agree to all of the terms and conditions of this Agreement, you may not be able to access the Website or use its
      Services. If these Terms of Use are considered an offer, acceptance is expressly limited to them.
      <br><br>
      Any new tools or features that are added to this store are also subject to the Terms of Service. You can review the most recent version of the Terms of
      Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting such updates and/or
      changes to our website. It is your responsibility to check this page from time to time to see if any changes have been made. By continuing to access or
      use the Website after any changes are posted, you accept those changes.<br>
      Our store is hosted on Shopify Inc. This company provides us with the online e-commerce platform that allows us to sell our products and services to you.
    </p>
    <p class="text-xl font-semibold text-600">SECTION 1 – ONLINE STORE TERMS OF USE</p>
    <p class="text-600">
      By accepting these Terms of Use, you represent that you have reached or exceeded the age of majority in your region, province or state and that you have
      given us permission to allow any minor dependents of yours to use this site.
      <br><br>
      You must not use our products for any illegal or unauthorized purpose in any way, or violate any laws in your jurisdiction when using the Service
      (including, but not limited to, copyright laws).
      <br><br>
      You must not transmit worms, viruses or any code of a destructive nature.
      <br><br>
      A breach or breach of any of the Terms will result in immediate termination of your Services.
    </p>
    <p class="text-xl font-semibold text-600">SECTION 2 – GENERAL CONDITIONS</p>
    <p class="text-600">
      We reserve the right to refuse to serve anyone at any time and for any reason.
      <br><br>
      You understand that your content (excluding your credit card information) may be transferred unencrypted and that this includes (a) transmissions over
      multiple networks; and (b) changes made for the purpose of conforming and adapting to technical requirements of connecting networks or devices. Your
      credit card information is always encrypted when transferred over networks.
      <br><br>
      You agree not to reproduce, duplicate, copy, sell, resell or exploit any part of the Service, any use of the Service or any access to the Service, or any
      contact on the website through which the Service is provided, without our authorization. expressly written.
      <br><br>
      The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
    </p>
    <p class="text-xl font-semibold text-600">SECTION 3 – ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION</p>
    <p class="text-600">
      We cannot be held responsible if the information offered on this site is inaccurate, incomplete or outdated. The material on this site is provided for
      general information only and should not be relied upon or relied upon as the sole basis for making decisions without consulting more substantial, more
      accurate, more complete or more current sources of information. If you rely on the content of this site, you do so at your own risk.
      <br><br>
      This site may contain certain historical data. By definition, historical data is not current and is provided for your reference only. We reserve the right
      to modify the contents of this site at any time, but we have no obligation to update any information on this site. You acknowledge that it is your
      responsibility to monitor changes to our site.
    </p>
    <p class="text-xl font-semibold text-600">SECTION 4 – SERVICE AND PRICE CHANGES</p>
    <p class="text-600">
      The prices of our products are subject to change without notice.
      <br><br>
      We reserve the right to modify or discontinue the Service (or any part thereof) at any time without notice.
      <br><br>
      We shall not be liable to you or any third party for any price change, or any modification, suspension or discontinuance of the Service.
    </p>
    <p class="text-xl font-semibold text-600">SECTION 5 – PRODUCTS OR SERVICES (if applicable)</p>
    <p class="text-600">
      It is possible that certain products or services are only available online through the website. The quantities of these products or services may be
      limited and their return or exchange may be strictly subject to our Return Policy.
      <br><br>
      We have made every effort to present as accurately as possible the colors and images of the products appearing on the store. However, we cannot guarantee
      the accuracy of the display of colors on your computer screen.<br>
      We reserve the right, but are not obligated, to limit the sale of our products or Services to any particular person, geographic region or jurisdiction. We
      allow ourselves to exercise this right on a case-by-case basis. We reserve the right to limit the quantities of any products or services we offer. All
      product descriptions and pricing are subject to change at any time, without notice and at our sole discretion. We reserve the right to discontinue the
      sale of any product at any time. Any product or service offer on this site is void where prohibited by law.
      <br><br>
      We do not warrant that the quality of any products, services, information or other materials you purchase or obtain will meet your expectations or that
      any errors in the Service will be corrected.
    </p>
    <p class="text-xl font-semibold text-600">SECTION 6 – ACCURACY OF BILLING AND ACCOUNT INFORMATION</p>
    <p class="text-600">
      We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household
      or per order. These restrictions may include orders placed by or on the same customer account, the same credit card and/or orders using the same billing
      and/or shipping address. If we change or cancel an order, we may attempt to notify you by contacting you using the email address and/or billing address or
      telephone number provided at the time of ordering. We reserve the right to limit or prohibit orders that we believe appear to have been placed by
      dealers, resellers or distributors.<br>
      You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update
      your account and other information, including your email address and credit card numbers and their expiration dates, so that we can complete your
      transactions and contact you as needed.
      <br><br>
      For more information, please see our Return Policy.
    </p>
    <p class="text-xl font-semibold text-600">SECTION 7 – OPTIONAL TOOLS</p>
    <p class="text-600">
      We may provide you with access to third-party tools that we do not monitor, control or manage.
      <br><br>
      You acknowledge and agree that we provide you with access to such tools "as is" and "as available", without warranties, representations or conditions of
      any kind and without any endorsement. We are not responsible for anything that may result from or be related to your use of optional third-party tools.
      <br><br>
      Any use by you of optional tools offered through the Site is entirely at your discretion and risk. In addition, it is your responsibility to find out
      about the conditions under which these tools are provided by the third party provider(s) concerned and to accept these conditions.
      <br><br>
      We may also in the future offer new services and/or features through the website (including the release of new tools and resources). These new services
      and/or features will also be subject to these Terms of Use.
    </p>
    <p class="text-xl font-semibold text-600">ARTICLE 8 – THIRD-PARTY LINKS</p>
    <p class="text-600">
      Certain content, products and services accessible through our Service may include materials from third parties.
      <br><br>
      Third-party links on this site may redirect you to third-party websites that are not affiliated with us. We are under no obligation to review or evaluate
      their content or accuracy, nor do we warrant or assumes no responsibility for the content or websites, or other content, products or services from third
      party sources.
      <br><br>
      We are not responsible for any harm or damages related to the purchase or use of goods, services, resources, content or any other transaction related to
      these third-party websites. Please read the policies and practices of these third parties carefully and make sure you understand them before engaging in
      any transaction. Complaints, claims, concerns or questions regarding third party products should be directed to those same third parties.
    </p>
  </div>
</div>
