<form [formGroup]="deliveryData" (ngSubmit)="submit()">
  <div class="flex">

    <!--Left side-->
    <div class="flex flex-column col-7 pl-8 pr-8 gap-3 mt-3">
      <span class="text-2xl">{{ 'page.checkout.contact' | translate }}</span>

      <!--First and last name-->
      <div class="flex gap-2">
        <div class="flex flex-column w-full">
          <input class="w-full" type="text" [placeholder]="'page.checkout.first_name' | translate" pInputText [maxLength]="100" formControlName="firstName"/>
          <small *ngIf="invalid('firstName')" class="p-error mt-1">{{ 'page.checkout.first_name_required' | translate }}</small>
        </div>
        <div class="flex flex-column w-full">
          <input class="w-full" type="text" [placeholder]="'page.checkout.last_name' | translate" pInputText [maxLength]="100" formControlName="lastName"/>
          <small *ngIf="invalid('lastName')" class="p-error mt-1">{{ 'page.checkout.last_name_required' | translate }}</small>
        </div>
      </div>

      <!--Email and phone-->
      <div class="flex gap-2">
        <div class="flex flex-column w-full">
          <input class="w-full" type="text" placeholder="Email" pInputText [maxLength]="100" formControlName="email"/>
          <small *ngIf="invalid('email')" class="p-error mt-1">{{ 'page.checkout.email_required' | translate }}</small>
        </div>
        <div class="flex flex-column w-full">
          <input class="w-full" type="text" [placeholder]="'page.checkout.phone' | translate" pInputText [maxLength]="20" formControlName="phone"/>
          <small *ngIf="invalid('phone')" class="p-error mt-1">{{ 'page.checkout.phone_required' | translate }}</small>
        </div>
      </div>

      <span class="text-2xl mt-3">{{ 'page.checkout.delivery' | translate }}</span>

      <!--Country, address, city, zip-->
      <div class="flex flex-column w-full">
        <p-dropdown [style]="{width: '100%'}" optionLabel="name" optionValue="id" [placeholder]="'page.checkout.country' | translate" [options]="countries"
                    formControlName="country"></p-dropdown>
        <small *ngIf="invalid('country')" class="p-error mt-1">{{ 'page.checkout.country_required' | translate }}</small>
      </div>
      <div class="flex flex-column w-full">
        <input type="text" [placeholder]="'page.checkout.address' | translate" pInputText [maxLength]="500" formControlName="address"/>
        <small *ngIf="invalid('address')" class="p-error mt-1">{{ 'page.checkout.address_required' | translate }}</small>
      </div>
      <div class="flex gap-2">
        <div class="flex flex-column w-full">
          <input class="w-full" type="text" [placeholder]="'page.checkout.postal_code' | translate" pInputText [maxLength]="20" formControlName="zip"/>
          <small *ngIf="invalid('zip')" class="p-error mt-1">{{ 'page.checkout.contact' | translate }}</small>
        </div>
        <div class="flex flex-column w-full">
          <input class="w-full" type="text" [placeholder]="'page.checkout.city' | translate" pInputText [maxLength]="100" formControlName="city"/>
          <small *ngIf="invalid('city')" class="p-error mt-1">{{ 'page.checkout.city_required' | translate }}</small>
        </div>
      </div>

      <p-checkbox class="text-color-secondary" [binary]="true" [label]="'page.checkout.save_information' | translate" formControlName="save"></p-checkbox>

      <!--Shipping method-->
      <span class="text-2xl mt-3">{{ 'page.checkout.shipping_method' | translate }}</span>
      <div class="flex justify-content-between w-full shipping-method">
        <span class="text-color-secondary text-sm">{{ shipping.methodName }}</span>
        <span class="text-sm font-semibold">{{ shipping.cost | currency }}</span>
      </div>
    </div>

    <!--Right side-->
    <div class="flex flex-column col-5 pl-8 pr-8 gap-3 mt-3">

      <!--Totals-->
      <p-panel header="Summary">
        <div class="flex flex-column gap-2">
          <div class="flex justify-content-between">
            <span class="text-sm">{{ 'page.checkout.subtotal' | translate }}:</span>
            <span class="text-sm">{{ amounts.subtotal | currency }}</span>
          </div>
          <div class="flex justify-content-between">
            <span class="text-sm">{{ 'page.checkout.shipping' | translate }}:</span>
            <span class="text-sm">{{ amounts.shipping | currency }}</span>
          </div>
          <div class="flex justify-content-between">
            <span class="text-base font-semibold">{{ 'page.checkout.total' | translate }}:</span>
            <span class="text-base font-semibold">{{ amounts.total | currency }}</span>
          </div>
        </div>
      </p-panel>

      <!--Payment method-->
      <div class="flex flex-column gap-3 mt-3">
        <span class="text-color-secondary text-sm">{{ 'page.checkout.secured' | translate }}</span>
        <p-panel>
          <ng-template pTemplate="header">
            <div class="flex justify-content-between align-items-center w-full">
              <span class="font-semibold">{{ 'page.checkout.payment' | translate }}</span>
              <app-payment-logo/>
            </div>
          </ng-template>
        </p-panel>
      </div>

      <!--Finish order-->
      <p-button size="small" styleClass="w-full" type="submit" [label]="'page.checkout.finish_order' | translate"></p-button>
    </div>
  </div>

</form>
