<p-dropdown [options]="languages" [(ngModel)]="selectedLanguage">
  <ng-template pTemplate="selectedItem">
    <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
      <img src="assets/images/flag_placeholder.png" [class]="'flag flag-' + selectedLanguage.toLowerCase()" style="width: 18px"/>
      <div>{{ selectedLanguage }}</div>
    </div>
  </ng-template>
  <ng-template let-language pTemplate="item">
    <div class="flex align-items-center gap-2">
      <img src="assets/images/flag_placeholder.png" [class]="'flag flag-' + language.toLowerCase()" style="width: 18px"/>
      <div>{{ language }}</div>
    </div>
  </ng-template>
</p-dropdown>
