<div class="flex w-full justify-content-center">
  <div class="flex flex-column w-12 md:w-9">
    <p class="text-4xl">Return policy</p>
    <p class="text-600">
      We have a 30-day returns policy, which means you have 30 days after receiving your item to request a return.
      <br><br>
      To be eligible for a return, your item must be in the same condition as you received it, unworn or unused, with tags and in its original packaging. You
      will
      also need your receipt or proof of purchase.
      <br><br>
      To start a return, you can contact us at emarket&#64;gmail.com
    </p>
    <p class="text-xl font-semibold text-600">Damage and problems</p>
    <p class="text-600">
      Please inspect your order on receipt and contact us immediately if the item is faulty, damaged or you receive the wrong item so that we can assess the
      problem and rectify it.
    </p>
    <p class="text-xl font-semibold text-600">Exceptions / non-returnable items</p>
    <p class="text-600">
      Certain types of items cannot be returned, such as perishable food (like food, flowers or plants), personalised products (like special orders or
      personalised items) and personal care products (like beauty products). We also do not accept returns of hazardous materials, flammable liquids or gases.
      Please contact us if you have any questions or concerns about your specific item.
      <br><br>
      Unfortunately, we are unable to accept returns on sale items or gift cards.
    </p>
    <p class="text-xl font-semibold text-600">Exchanges</p>
    <p class="text-600">
      The quickest way to ensure you get what you want is to return the item you have, and once the return has been accepted, make a separate purchase
      for the new item.
    </p>
    <p class="text-xl font-semibold text-600">Refunds</p>
    <p class="text-600">
      We will inform you once we have received and inspected your return, and let you know whether or not the refund has been approved. If approved, you will
      automatically be refunded to your original payment method within 10 days. Remember that your bank or credit card company may take some time to process and
      issue the refund too. If more than 15 days have passed since we approved your return, please contact us at emarket&#64;gmail.com
    </p>
  </div>
</div>
