<div *ngIf="!!product" class="grid pt-4">

  <!--Galleria (left side)-->
  <div class="col-12 md:col-5">
    <gallery [items]="images" [counter]="false" style="height: 800px; background-color: #fff"></gallery>
  </div>

  <!--Product data (right side)-->
  <div class="col-12 md:col-7 pl-5">
    <div class="flex justify-content-between">
      <p class="text-sm text-800">{{ 'page.product.category' | translate }}: {{ product.category?.title }}</p>
      <!--todo  <p *ngIf="variantSelected" class="text-sm text-color-secondary font-semibold">SKU {{ selectedVariant.sku }}</p>-->
    </div>
    <div class="flex justify-content-between align-items-center m-0">
      <flex>
        <p class="text-2xl md:text-4xl font-medium mr-4" [ngStyle]="{'margin-block-start': '0', 'margin-block-end': '0'}">{{ product.title }}</p>
        <app-wish-list-button [checked]="product.inWishList || false" (onClick)="onWishListButtonClick($event)"></app-wish-list-button>
      </flex>
      <div class="flex justify-content-end">
        <app-product-price *ngIf="variantSelected" [price]="selectedVariantPrice" [inStock]="inStock"></app-product-price>
        <p-tag *ngIf="!variantSelected" severity="warning" [value]="'page.product.all_options' | translate"></p-tag>
      </div>
    </div>
    <p class="text-base text-800">{{ product.annotation }}</p>

    <!--Attribute selection-->
    <div *ngFor="let item of product.attributes" class="flex flex-column mt-4">
      <span class="text-base mb-2">{{ item.name }}:</span>
      <p-dropdown [options]="item.values"
                  [style]="{width: '50%'}"
                  [placeholder]="'page.product.select_value' | translate"
                  [(ngModel)]="userSelection[item.name]"
                  (ngModelChange)="onAttributeChange()">
      </p-dropdown>
    </div>

    <!--Product count-->
    <div class="flex flex-column mt-4">
      <span class="text-base mb-2">{{ 'page.product.quantity' | translate }}:</span>
      <p-inputNumber [(ngModel)]="productCount"
                     [showButtons]="true"
                     buttonLayout="horizontal"
                     inputId="horizontal"
                     decrementButtonClass="p-button-secondary"
                     incrementButtonClass="p-button-secondary"
                     incrementButtonIcon="pi pi-plus"
                     decrementButtonIcon="pi pi-minus"
                     [disabled]="inCart"
                     [step]="1" [min]="1" [max]="99" [size]="1" [allowEmpty]="false"
      >
      </p-inputNumber>
    </div>

    <!--Size help message-->
    <flex class="text-400 mt-4">
      <span class="pi pi-question-circle mr-2"></span>
      <span>Need help about size? Size Guide </span>
    </flex>

    <!--Put to cart button-->
    <div class="mt-5">
      <p-button *ngIf="!inCart" [disabled]="disabledButton" [label]="'page.product.add_to_cart' | translate" icon="pi pi-check"
                (click)="onBtnAddClick()"></p-button>
      <p-chip *ngIf="inCart" label="In cart" icon="pi pi-shopping-cart"></p-chip>
    </div>

    <!--Product detailed description-->
    <div *ngIf="!!product?.description" class="flex flex-column mt-4">
      <p class="text-2xl">{{ 'page.product.description' | translate }}</p>
      <p-scrollPanel [style]="{ width: '100%', 'max-height': '350px' }">
        <p class="text-base">{{ product.description }}</p>
      </p-scrollPanel>
    </div>

  </div>
</div>


<div *ngIf="!product">Loading...</div>
