<div class="pt-2">
  <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
  <app-skeleton-data *ngIf="loading"/>

  <div *ngIf="!loading" class="mt-3">
    <div *ngIf="hasResults">
      <p class="text-2xl font-semibold">My favourites</p>
      <div class="flex flex-row flex-wrap gap-3">
        <app-product-card *ngFor="let product of products" [data]=product [showRemoveButton]="true" (removeEvent)="remove($event)"></app-product-card>
      </div>
      <p-paginator *ngIf="showPaginator" (onPageChange)="onPageChange($event)" [first]="firstRecords" [rows]="currentSort.size"
                   [totalRecords]="totalProducts"></p-paginator>
    </div>
    <div *ngIf="!hasResults" class="flex flex-column justify-content-center align-items-center mt-8">
      <img src="/assets/images/empty-cart.png" alt="empty-cart-img" width="283"/>
      <h4>You haven't added anything to favorites</h4>
    </div>
  </div>
</div>
