<div class="select-none">
  <p-progressBar *ngIf="fetching || loading" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
  <app-products-skeleton *ngIf="loading"/>

  <div *ngIf="!loading" class="flex flex-row gap-4">

    <!--Shopping cart-->
    <div class="flex flex-column col-8">
      <p class="text-2xl font-semibold">Shopping cart</p>
      <p-dataView #dv [value]="products" emptyMessage="No items yet? Continue shopping to explore more.">
        <ng-template pTemplate="list" let-products>
          <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let item of products; let first = first">
              <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="imageUrl(item.thumbnail)" [alt]="item.title"/>
                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                  <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                    <div class="flex flex-column">
                      <div class="text-2xl font-bold text-900">{{ item.title }}</div>
                      <span class="text-color-secondary text-sm mt-1">{{ item.details }}</span>
                    </div>
                    <app-quantity [value]="item.quantity" [productId]="item.id" [onChange]="onQuantChange"/>
                  </div>
                  <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                    <div class="flex flex-row gap-3">
                      <span *ngIf="hasDiscount(item)" class="text-color-secondary text-base line-through">{{ item.oldPrice | currency }}</span>
                      <span class="text-2xl font-semibold">{{ item.currentPrice | currency }}</span>
                    </div>

                    <!--Delete button-->
                    <p-confirmPopup></p-confirmPopup>
                    <p-button icon="pi pi-trash" [text]="true" severity="danger" (click)="confirmDelete($event, item.id)"
                              pTooltip="Remove from shopping cart" tooltipPosition="bottom"
                              [style]="{width: '2rem', height: '2rem', 'border-radius': '100%', border: 0, background: '#f3f4f6', color: '#4b5563'}"></p-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>

    <!--Summary-->
    <div class="flex col-4 flex-column">
      <p-panel class="w-full mt-4" header="Summary">
        <!--Total price-->
        <div class="flex justify-content-between mb-2">
          <span class="text-base font-semibold">Total:</span>
          <span class="text-base font-semibold">{{ totalAmount | currency }}</span>
        </div>
        <!--You save-->
        <div *ngIf="savedAmount > 0" class="flex justify-content-between mb-3">
          <span class="text-sm  text-color-secondary">You save:</span>
          <span class="text-sm text-color-secondary">{{ savedAmount | currency }}</span>
        </div>
        <!--Place order button-->
        <p-button size="small" [disabled]="!hasItems" [routerLink]="['/checkout']" [style]="{width: '100%'}">
          <div class="w-full">
            Place order
          </div>
        </p-button>
      </p-panel>
      <div class="flex flex-column mt-4 ml-1">
        <span class="text-color-secondary text-base font-semibold">We accept</span>
        <app-payment-logo/>
        <div class="flex align-items-center gap-1 mt-2">
          <span class="text-sm text-color-secondary">Buying on our website is safe</span>
          <p class="pi pi-lock text-color-secondary" style="font-size: .7rem"></p>
        </div>
      </div>
    </div>
  </div>
</div>
